<%- include('../partials/header') %>

<container class="dashboard-container">
    <section class="add-section">
        <a class="add-application" href="applications/new">+</a>
    </section>
    <section class="counter-section">
        <div class="single-counter">
            <h5>Total Applications</h5>
            <p><%= applications.length %></p>
        </div>
        <div class="single-counter">
            <h5>Total Applications</h5>
            <p><%= applications.length %></p>
        </div>
    </section>
    <h4 class="dash-title">YOUR APPLICATIONS</h4>
<container class="application-containers">
    <% applications.forEach(function(a){
        if (JSON.stringify(user._id) === JSON.stringify(a.user)) { %>
            <a href="/applications/<%= a._id %>" class="application-atag">
                <ul class="single-application">  
                    <li><%= a.companyName %></li>
                    <li>£<%= a.salary %></li>
                    <li><%= a.position %></li>
                    <li><%= a.applicationStage %></li>
                    <li><%= a.success %></li>
                </ul>
            </a>
<%    
        }
    }) %>
</container>
</container>


<%- include('../partials/footer') %>