<%- include('../partials/header') %>

<container class="details">
    <container class="details-2">
    <section class="details-left">
        <label>Company</label>
        <div><%= application.companyName %></div>
        <label>Position</label>
        <div><%= application.position %></div>
        <label>Salary</label>
        <div>£<%= application.salary %></div>
    </section>
    <section class="details-right">
        <label>Outcome</label>
        <div class="outcome"><%= application.success %></div>
        <label>Stage of Application</label>
        <div><%= application.applicationStage %></div>
        <label>Notes</label>
        <div><%= application.notes %></div>
    </section>
</container>
    <section class="buttons">
        <a class="edit-application" href="/applications/<%= application._id %>/edit">EDIT</a>
        <form class="delete-application" action="/applications/<%= application._id %>?_method=DELETE" method="POST">
            <button type="submit" class="delete-button">DELETE</button>
        </form>
        <a class="add-review" href="/reviews/<%= application._id%>/new">REVIEW</a>
    </section>
</container>



<section class="details-reviews-header">Your Reviews of <%=application.companyName %></section>
<section class="details-reviews">
<% application.reviews.forEach(function(r) { %>
    <container class="single-review-container">
        <ul class="application-single-review">
            <li><%= r.review %></li>
            <li class="hiddenRating"><%= r.rating %> </li>
            <li class="stars">
                <p class="star1">★</p>
                <p class="star2">★</p>
                <p class="star3">★</p>
                <p class="star4">★</p>
                <p class="star5">★</p>
            </li>
        </ul>
    </container>
<% }) %>
</section>

<script>
    addEventListener('DOMContentLoaded', function() {
        const outcome = document.querySelector('.outcome');
        if (outcome.textContent === 'Waiting') {
            outcome.style.border = '0.5vmin solid yellow';
        } else if (outcome.textContent === 'Rejected') {
            outcome.style.border = '0.5vmin solid red';
        } else if (outcome.textContent === 'Success') {
            outcome.style.border = '0.5vmin solid green';
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        const stars = document.querySelectorAll('.stars > p');
        const starRatings = Array.from(document.querySelectorAll('.hiddenRating'));
        starRatings.forEach(function(starRating, idx) {
            const starRatingContent = starRating.textContent;
            const starRatingAsNum = parseInt(starRatingContent);            
            for (let s = 0; s < starRatingAsNum; s++) {
                stars[idx * 5 + s].style.color = 'yellow';
            }
        });
    });
</script>

<%- include('../partials/footer') %>